body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.major-container {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
                        "side tool"
                        "side content"
                        "side content";
    gap: 0px 0px;
    /* justify-items: center; */
}

.heading {
    grid-area: tool;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "bar"
            "btn";
}

.toolbar {
    grid-area: bar;
}

.container-btn {
    grid-area: btn;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "usr btns";
}

.container-btn > h3 {
    grid-area: usr;
}

.content {
    grid-area: content;
    background-color: #e2e8f0;
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(auto-fill, minmax(45ch,1fr));
    grid-template-rows: 3em repeat(auto-fill, minmax(6em ,33%));
    gap: 2em;

}

.content > h3 {
    grid-column: span 4;
}


.content > div {
    border-left: 1rem solid #f0b429;
    border-radius: 1em;
    background-color: white;
    padding: 1em 1em 0;

}

.sidebar {
    grid-area: side;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    font-size: 17pt;
}

.sidebar > ul {
    list-style-type: none;
}

li {
    margin: 1rem 0 2rem;
}

li > a,
li > a:hover {
    color: white;
    text-decoration: none;
}

i {
    padding-right: 3rem;
}