body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.major-container {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
                        "side tool"
                        "side content"
                        "side content";
    gap: 0px 0px;
    /* justify-items: center; */
}

.heading {
    grid-area: tool;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas: 
            "bar"
            "btn";
}

.toolbar {
    grid-area: bar;
}

.container-interface {
    grid-area: btn;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "usr btns";
    align-items: center;
    padding: 2em 3em;
}

.container-interface img {
    clip-path: circle(40%);
    /* border-radius: 50%; */
    width: 4.5em;
    height: 45px;
}

.container-interface p {
    align-self: center;
    margin: 0;
    font-size: large;
    font-weight: 700;
}

.container-interface button {
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #1992d4;

    border: none;
    border-radius: 4em 4em;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);

    padding: .5em 2em;
    margin: 0 0 0 1em;
}

.container-interface button:hover {
    background-color: #1270a3;
    cursor: pointer;
}

.container-interface > h3 {
    grid-area: usr;
}

.container-btn {
    align-self: center;
    align-items: center;
}

.content {
    grid-area: content;
    background-color: #e2e8f0;
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(auto-fill, minmax(45ch,1fr));
    grid-template-rows: 3em repeat(auto-fill, minmax(6em ,33%));
    gap: 2em;

}

.content > h3 {
    grid-column: span 4;
}


.content > div {
    border-left: 1rem solid #f0b429;
    border-radius: 1em;
    background-color: white;
    padding: 1em 1em 0;

}

.sidebar {
    grid-area: side;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;

    background-color: #1992d4;
    color: white;
    font-weight: bold;
    font-size: 17pt;
}

.sidebar > ul {
    list-style-type: none;
}

li {
    margin: 1rem 0 2rem;
}

li > a,
li > a:focus,
li > a:hover,
li > a:active {
    color: white;
    text-decoration: none;
}

i {
    padding-right: 2rem;
}